.el-message-box{
	width: 285px;
}

.el-button span{
	color: darkslategrey;
	font-family: "微软雅黑";
	font-size: 17px;
}

.zcf-sta-btngroup .el-date-editor.el-input, .el-date-editor.el-input__inner {
    width: 130px;
}

.el-message.el-message--info{
	width: 60px;
}


.el-message{
	min-width: 250px;
}
